.clearButton {
    font-size: 11px;
    font-weight: bold;
    font-family: "MS Sans Serif", sans-serif;
}

.clearButton:hover:not(:disabled) {
    background: #d4d4d4;
}

.clearButton:active:not(:disabled) {
    border-color: #808080 #ffffff #ffffff #808080;
    background: #a0a0a0;
}

.clearButton:disabled {
    opacity: 0.6;
}
